<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <h1> Choose Rock, Paper or Scissors </h1>
    <link rel="stylesheet" href="/style.css">
  </head>
  <h1> <a href="/">Home</a></h1>
  <h2> you can choose an image or the text below </h2>
  <body>
    <a href="/rock"><img src="https://preview.ibb.co/cr070e/rock.png" width = '200' alt="rock" border="0"></a>
    <a href="/paper"><img src="https://image.ibb.co/hmsn0e/paper.png" width = '200' alt="paper" border="0"></a>
<a href="/scissors"><img src="https://preview.ibb.co/gJP6tz/scissors.png" width = '200' alt="scissors" border="0"></a><br /><a target='_blank'</a><br />
    <nav>
      <ul>
        <li> <a href="/rock">Rock</a></li>
        <li> <a href="/paper">Paper</a></li>
          <li> <a href="/scissors">Scissors</a></li>
      </ul>
    </nav>
      <%= yield %>
  </body>
</html>
